extends layouts/layout

block content
  .content
    h1 Fantastic Event: #{event}
    h2 Hola #{name}
    p
      |Genial, tu registro al evento de
      |#{evento} fue existoso. Te esperamos el
      |el #{date}.
    h4 Gracias por utilizar nuestros servicios
