extends layouts/layout

block content
  .content
    h1 Fantastic Event
    h2 Hola #{name}
    p
      |Esperamos que te encuentre bien
      |este mensaje es para recordarte
      |que tienes un evento agendado el
      |#{event}
