extends layouts/layout

block content
  .content
    h1 Fantastic Event: #{event}
    h2 Hola #{name}
    p
      |Esperamos que te encuentres muy bien,
      |este mensaje es un recordatorio para
      |el evento #{event}, el día #{date}.
    h4 Gracias por utilizar nuestros servicios
