.card{
  border: 2px solid #a8071e;
  border-radius: 20px;
  width: 300px;
  height: 400px;
  margin: 4% auto;
  overflow: hidden;
  /* background: red; */
}

h1{
  color: blue;
}

/* .content{
  display: flex;
  background-color: #a8071e;
}

header img{
  width: 220px;
  height: 100px;
  margin: 0 auto;
} */